body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.title{
    
    color: orangered;
}

.flex{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}

.half-width img{
    width: 70%;
}


.link-button{
    background-color: rgb(37, 121, 218);
    color: azure;
    text-decoration: none;
    background-color: rgb(184, 43, 43);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 400;
    background-image: linear-gradient(red,tomato);
   

}

.link-button2{

    background-image: linear-gradient(rgba(9, 126, 221, 0.795),rgb(86, 123, 190));
    padding: 10px 40px;
    color: blanchedalmond;
    border-radius: 10px;
    font-weight: 400;
    text-decoration: none;
}

.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}

.section-2{

    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.section-ex{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

    
}

.flex2{
    display: flex;
}

.half-width-ex{

    box-shadow: 10px 10px 40px rgba(28, 120, 196, 0.986);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    border-radius: 10px;
    border-color: greenyellow;
}

#box-shadow{
    border-left: 5px solid;
    border-image: linear-gredient(red,purple);
    border-image-slice: 0;
    
    
}
#box-shadow1{
    border-left: 5px solid;
    
    border-image-slice: 0;
    border-color:red;
    
    
}
#box-shadow2{
    border-left: 5px solid;
    border-color:red;
    border-image-slice: 0;
    
    
}
#box-shadow3{
    border-left: 5px solid;
    border-image: linear-gredient(red,rgb(218, 199, 218));
    border-image-slice: 10% 30%;
    
    
}

footer p{
    text-align: center;
    padding: 30px;
}

